<?xml version="1.0" encoding="utf-8" ?>
<phpunit
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/7.0/phpunit.xsd"
        bootstrap="vendor/autoload.php"
        colors="true"
        stopOnFailure="true">
	<php>
		<env name="MOCK_URL" value="http://localhost"/>
	</php>
	<testsuites>
		<testsuite name="Unit Tests">
			<directory>tests</directory>
			<exclude>./tests/Peru/Reniec/DniTest.php</exclude>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">src</directory>
			<exclude>
				<directory>./src/Peru/Reniec</directory>
				<directory>./tests</directory>
				<directory>./vendor</directory>
			</exclude>
		</whitelist>
	</filter>
	<logging>
		<log type="coverage-clover" target="test-results/phpunit/clover.xml"/>
		<log type="junit" target="test-results/phpunit/junit.xml"/>
	</logging>
</phpunit>
